<div class="container">

<div class="row">
  <div class="col-sm-10 ">
    <h1>Eventer</h1>
  </div>
 
</div>

<app-form (form)="userForm($event)" [eventForEdit]="event" *ngIf="editable" ></app-form>




<div class="row" *ngIf='!editable'> 
<div class="col-sm-10">
<h2>{{event.title}}</h2>
<h3>{{event.author}}</h3>
<h3>{{event.description}}</h3>

</div>

<div class="col-sm-2 publishbutton">
  <button type="button" (click)="edit()" class="btn btn-success  btn-lg" >Edit</button>
</div>


</div>



</div>